/* FirestoreComp.module.css */

.container {
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  color: black;
  margin: 20px 0;
  overflow: auto;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.input {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  color: black;
  border-radius: 5px;
  font-size: 14px;
}

.button {
  padding: 7px 14px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.button:hover {
  background-color: #005bb5;
}

.output {
  margin-top: 20px;
  padding: 10px;
  background-color: #e0f7fa;
  border: 1px solid #b2ebf2;
  border-radius: 5px;
}

.item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
