.MsgContainer{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(2.1px);
}
.Msg{
    position: fixed;
    width: min(min-content, 350px, max-content);
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
    overflow: auto;
    top: 7%;
    margin: auto;
    background-color: rgb(var(--basecolor),1);
    border:1px solid rgb(var(--white),0.7);
    box-shadow: 1px 1px 1px 1px rgb(var(--white),0.3);
    border-radius: 7px;
    text-align: center;
    padding: 0 0.7rem 0.7rem 0.7rem;
    z-index: 7;
}
.MainMessage{
    border-bottom: 1px solid white;
    text-align: center;
    color: rgb(var(--whitemate),1);
    padding: 0.5rem;
    margin: 7px 0px;
    font-weight: bold;
}
.CloseMsg{
    position: absolute;
    width: 21px;
    border-radius: 0 7px;
    padding: 3.5px;
    background-color: rgb(var(--whitemate),0.3);
    color: rgb(var(--whitemate),0.7);
    text-align: center;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
.description{
    max-height: 40vh;
    overflow: auto;
    padding: 0.35rem;
    text-align: center;
    line-height: 1.2rem;
    background-color: rgb(var(--bluemateX),0.7);
    border:1px solid rgb(var(--white),0.3);
    color: rgb(var(--whitemate),1);
    border-radius: 3px;
}
.opt{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.choseBtn{
    margin: 1rem 7px;
    cursor: pointer;
    padding: 3px 1rem;
    transition: var(--fast);
    font-size: 0.7rem;
    border-radius: 7px;
    background-color: rgb(var(--black),0.7);
    border-left: 1px solid rgba(var(--white),0.7);
    border-right: 1px solid rgba(var(--white),0.7);
}
.choseBtn:hover{
    background-color: white;
    color: black;
}
.PlayerBtn{
    padding: 3px 1rem;
    font-size: 0.7rem;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    background-color: rgb(var(--bluemateX),0.7);
    border: 1px solid rgb(var(--white),0.3);
}
.VideoContainer{
    overflow: hidden;
    width: 98%;
    height: max-content;
    margin: 7px auto 0px auto;
    border-radius: 7px;
    position: relative;
}
.blocker{
    position: absolute;
    background-color: none;
    z-index: 1;
    width: 100%;
    height: 100%;
}